<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmallLaby" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://188.231.153.190:8080/SmallLabyServer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmallLaby"
                contract="ServiceRefSmallLaby.ISmallLaby" name="BasicHttpBinding_ISmallLaby" />
        </client>
    </system.serviceModel>
</configuration>