<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="SmallLabyServer.SmallLaby" behaviorConfiguration="myServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://188.231.153.190:8080/SmallLabyServer"/>
                    </baseAddresses>
                </host>
                <endpoint address=""
                binding="basicHttpBinding"
                contract="SmallLabyServer.ISmallLaby" />
                <endpoint address="mex"
                binding="mexHttpBinding"
                contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="myServiceBehavior">
                    <serviceMetadata httpGetEnabled="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>